.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3rem;
}

.article h3 {
    font-size: 2rem;
    color: #0070f3;
}

.article p {
    font-size: 1.5rem;
}

.note {
    font-size: 1rem;
    color: red;
}