.projects table {
    margin: 2rem auto;
    width: 800px;
    text-align: center;
}

.projects table th {
    font-size: 1.4rem;
}

.projects table td {
    border-top: 1px solid #eaeaea;
    vertical-align: middle;
    padding: 1rem 0;
}

.projectTechs li {
    list-style-type: none;
    font-size: 0.8rem;
    font-family: monospace;
}

.projectLinks {
    display: flex;
    flex-direction: column;
}

.projectLinks a {
    color: #0070f3;
    font-size: 0.8rem;
}