.projects {
    text-align: center;
    margin: 2rem 0;
}

.type {
    font-size: 2rem;
    color: #ffa500;
    margin-top: 5rem;
}

.project {
    background-color: #fff;
    color: black;
    margin: 2rem 0;
    padding: 1rem 0;
    border-radius: 20px;
}

.techs li {
    list-style-type: disc;
}

.name {
    color: #0070f3;
}

.links a {
    margin: 0 1rem;
    text-decoration: underline;
}